@import url("../../scss/vars.scss");
@import "../../scss/mixins.scss";

.LogInComp {
  @include demo;
  margin-top: $marginFromNav;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  border: none;
  padding: 0;
  button {
    margin-left: 10px;
    min-width: 75px;
  }
}
