@import "../../scss/mixins.scss";
@import "../../scss/colors.scss";

.RqSuperHeroesOnRequest {
  @include demo();
  border: none;
  margin-top: 0;
  padding-top: 0;
  a {
    color: $focus-c;
    &:visited {
      color: $text-c;
    }
    h2 {
      overflow-wrap: break-word;
    }
  }
  header {
    margin: 110px 0 70px;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 12px;
    input {
      width: 100%;
      flex-grow: 1;
    }
  }
}
