@import "../../scss/mixins.scss";
@import "../../scss/colors.scss";

.RqSuperHeroesOnRequest {
  @include demo();
  border: none;
  a {
    color: $focus-c;
    &:visited {
      color: $text-c;
    }
    h2 {
      overflow-wrap: break-word;
    }
  }
}
