@import url("../../scss/vars.scss");
@import "../../scss/mixins.scss";
@import "../../scss/colors.scss";

nav {
  display: flex;
  margin-bottom: 40px;
  list-style: none;
  @include flex(row, flex-start, center);
  @include demo;
  border: none;
  padding: 0;
  overflow-x: auto;
  padding-bottom: 50px;
  span {
    flex-shrink: 0;
    &:not(:last-of-type) {
      margin-right: 25px;
    }
  }
  a {
    font-weight: 700;
    color: $focus-c;
    text-decoration: none;
    transition: color 0.3s;
    position: relative;

    &:hover {
      color: $btn-c;
    }
    &.active {
      &::after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 120%;
        left: 50%;
        transform: translateX(-50%);
        background-color: $focus-c;
        @include roundElement(5px);
      }
    }
    &.active:hover::after {
      background-color: $btn-c;
    }
  }
}
