@import "../../scss/mixins.scss";
@import "../../scss/colors.scss";
@import "../../scss/vars.scss";

.superHeroes {
  @include demo();
  margin-top: $marginFromNav;
  border: none;
  pre {
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    &:hover {
      color: $hover-c2;
    }
    &.selected {
      border-color: $focus-c;
      color: $focus-c;
      &:hover {
        color: $hover-c2;
        border-color: $hover-c2;
      }
    }
  }
  a {
    color: $btn-c;
    text-decoration: underline;
    text-underline-offset: 6px;
    &:hover {
      color: $hover-c2;
    }
  }
}
