@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button,
input[type="submit"] {
  background-color: transparent;
  font-size: 20px;
  font-weight: 700;
  border: 2px solid pink;
  color: pink;
  padding: 7px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.025);
  }
}

.App {
  text-align: center;
  padding-bottom: 80px;
  background-color: #282c34;
  color: rgb(235, 235, 235);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  & > button {
    margin-top: 15px;
  }
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}