@import "./vars";

@mixin demo {
  border: $demo-border;
  border-radius: $demo-border-rad;
  padding: 25px;
  width: 80%;
  max-width: 700px;
  margin: 35px 0;
}

@mixin flex($direction: row, $justify-content: center, $align-items: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}